ClienteViajex/src/conf/xml-resources/web-service-references/listarRutas/wsdl/localhost_8080/Viajex/listarRutas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="obtenerRutas" type="tns:obtenerRutas"/>

<xs:element name="obtenerRutasResponse" type="tns:obtenerRutasResponse"/>

<xs:complexType name="obtenerRutas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerRutasResponse">
<xs:sequence>
<xs:element name="return" type="tns:rutaService" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaService">
<xs:sequence>
<xs:element name="distancia" type="xs:int"/>
<xs:element name="duracion" type="xs:string" minOccurs="0"/>
<xs:element name="estacionDestino" type="tns:estacionService" minOccurs="0"/>
<xs:element name="estacionOrigen" type="tns:estacionService" minOccurs="0"/>
<xs:element name="horarios" type="tns:horariosService" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estacionService">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="localidad" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horariosService">
<xs:sequence>
<xs:element name="horaLlegada" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="ruta" type="tns:rutaService" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="viajes" type="tns:viajeService" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viajeService">
<xs:sequence>
<xs:element name="dia" type="xs:string" minOccurs="0"/>
<xs:element name="horarios" type="tns:horariosService" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="plazas" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>